{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    
    <title>Footer</title>
</head>

<body>
    <footer class="footer-14398">
        <div class="container">
            <div class="row mb-5">
                <div class="col-5">
                    <a href="#" class="footer-site-logo"><img src="{% static '/images/footerlogo.svg' %}" alt="Logo"
                            height="48"></a>
                    <p>대표이사: 정태송</p>
                    <p>사업자 등록번호: 206-55-98984</p>
                    <p>고객센터: rep@knockledge.page</p>
                </div>
                <div class="col-7">
                    <div class="row mb-5">
                    <div class="col-md-3 ml-auto">
                        <h3>(주) 똑똑하다</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">회사소개</a></li>
                            <li><a href="#">브랜드 리소스</a></li>
                            <li><a href="#">채용</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>Knoach</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">Koach 등록</a></li>
                            <li><a href="#">매니지먼트</a></li>
                            <li><a href="#">Office room</a></li>
                            <li><a href="#">문의</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>Knoacker</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">회원가입</a></li>
                            <li><a href="#">문의</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>Business</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">광고</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>School</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">정책</a></li>
                            <li><a href="#">저작권</a></li>
                            <li><a href="#">약관</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>Teaching</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">정책</a></li>
                            <li><a href="#">저작권</a></li>
                            <li><a href="#">약관</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>CA</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">이용안내</a></li>
                            <li><a href="#">정책</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>CS</h3>
                        <ul class="list-unstyled links">
                            <li><a href="#">고객센터</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12 pb-4">
                    <div class="line"></div>
                </div>
                <div class="col-md-7">
                    <p><small>© 2021 Copyright. Knocklaedge(낙리지). All rights reserved</small></p>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>

</html>