
{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<style>
.kl-banner {
  background: url("{% static '/images/school-banner.png' %}") no-repeat center center; 
  background-size: cover;
  padding-top: 80px;
  padding-left: 60px;
  height: 240PX;
  width: 100vw;
}

.kl-headertitle {
  padding-top: 60px;
  padding-bottom: 15px;
}

.kl-block  {
  padding-left: 20px;
  padding-right: 20px;
}
.kl-card-title {
  padding-top: 50%;
  padding-left: 15px;
}
.kl-card-format {
  padding-top: 20px;
  padding-bottom: 20px;
}
.kl-school-contenttitles {
  padding-top: 15px;
  padding-bottom: 15px;
}
.kl-color {
  color: #ED3B0C;
}
</style>

<div class="container-fluid">
  <div class="row">
      <div class="center-block kl-banner">
          <h2 style="color:white;">탁자와 과일 한 바구니와 바이올린.</h2>
          <h2 style="color:white;">행복해지는데 그 밖에 뭐가 더 필요한가?</h2>
          <p style="color: white;">- 아인슈타인 -</p>
      </div>
  </div>
</div>

<section">
  <div class="kl-block">

    <div class="kl-headertitle">
      <h6 style="color: #ED3B0C">바이올린</h6>
      <h5>당신의 <a style="color: #ED3B0C">Knoack</a> 레벨을 알려주세요</h5>
    </div>
    
    <div class="card-deck">
      <div class="card">
        <div class="row">
            <div class="col-sm">
            <div class="kl-card-title">
              <h4>처음 시작하는</h4>
              <h4>Explorer</h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="kl-card-title">
              <img src="{% static '/images/schoolcard1.png' %}" alt="image" height="120px">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
            <div class="col-sm">
            <div class="kl-card-title">
              <h4>스킬업을 꿈꾸는</h4>
              <h4>Enjoyer</h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="kl-card-title">
              <img src="{% static '/images/schoolcard2.png' %}" alt="image" height="120px">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
            <div class="col-sm">
            <div class="kl-card-title">
              <h4>전공을 고려하는</h4>
              <h4>Major Student</h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="kl-card-title">
              <img src="{% static '/images/schoolcard3.png' %}" alt="image" height="120px">
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
            <div class="col-sm">
            <div class="kl-card-title">
              <h4>프로를 꿈꾸는</h4>
              <h4>Aspirant</h4>
            </div>
          </div>
          <div class="col-sm">
            <div class="kl-card-title">
              <img src="{% static '/images/schoolcard4.png' %}" alt="image" height="120px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="kl-block" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="{% static 'images/schoolimage1.png' %}" alt="Lights" style="width:100%">
          <div class="kl-school-contenttitles">
            <h5>바이올린 걸음마 시작하기 (1)
              바이올린 걸음마 시작하기 (1)
              걸음마 시작하기 ...</h5>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span class="badge badge-pill badge-danger">Knoach</span>
            </div>
            <div class="col-md-4">
              <p>홍길동</p>
            </div>
            <div class="col-md-6">
              <p style="color:gray; text-align: right;">+999</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="{% static 'images/schoolimage2.png' %}" alt="Lights" style="width:100%">
          <div class="kl-school-contenttitles">
            <h5>바이올린 걸음마 시작하기 (1)
              바이올린 걸음마 시작하기 (1)
              걸음마 시작하기 ...</h5>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span class="badge badge-pill badge-danger">Knoach</span>
            </div>
            <div class="col-md-4">
              <p>홍길동</p>
            </div>
            <div class="col-md-6">
              <p style="color:gray; text-align: right;">+999</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="{% static 'images/schoolimage3.png' %}" alt="Lights" style="width:100%">
          <div class="kl-school-contenttitles">
            <h5>바이올린 걸음마 시작하기 (1)
              바이올린 걸음마 시작하기 (1)
              걸음마 시작하기 ...</h5>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span class="badge badge-pill badge-danger">Knoach</span>
            </div>
            <div class="col-md-4">
              <p>홍길동</p>
            </div>
            <div class="col-md-6">
              <p style="color:gray; text-align: right;">+999</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="{% static 'images/schoolimage4.png' %}" alt="Lights" style="width:100%">
          <div class="kl-school-contenttitles">
            <h5>바이올린 걸음마 시작하기 (1)
              바이올린 걸음마 시작하기 (1)
              걸음마 시작하기 ...</h5>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span class="badge badge-pill badge-danger">Knoach</span>
            </div>
            <div class="col-md-4">
              <p>홍길동</p>
            </div>
            <div class="col-md-6">
              <p style="color:gray; text-align: right;">+999</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <div class="kl-block" style="padding-bottom: 100px">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/schoolimage5.png' %}" alt="Lights" style="width:100%">
            <div class="kl-school-contenttitles">
              <h5>바이올린 걸음마 시작하기 (1)
                바이올린 걸음마 시작하기 (1)
                걸음마 시작하기 ...</h5>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="badge badge-pill badge-danger">Knoach</span>
              </div>
              <div class="col-md-4">
                <p>홍길동</p>
              </div>
              <div class="col-md-6">
                <p style="color:gray; text-align: right;">+999</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/schoolimage6.png' %}" alt="Lights" style="width:100%">
            <div class="kl-school-contenttitles">
              <h5>바이올린 걸음마 시작하기 (1)
                바이올린 걸음마 시작하기 (1)
                걸음마 시작하기 ...</h5>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="badge badge-pill badge-danger">Knoach</span>
              </div>
              <div class="col-md-4">
                <p>홍길동</p>
              </div>
              <div class="col-md-6">
                <p style="color:gray; text-align: right;">+999</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/schoolimage7.png' %}" alt="Lights" style="width:100%">
            <div class="kl-school-contenttitles">
              <h5>바이올린 걸음마 시작하기 (1)
                바이올린 걸음마 시작하기 (1)
                걸음마 시작하기 ...</h5>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="badge badge-pill badge-danger">Knoach</span>
              </div>
              <div class="col-md-4">
                <p>홍길동</p>
              </div>
              <div class="col-md-6">
                <p style="color:gray; text-align: right;">+999</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <img src="{% static 'images/schoolimage8.png' %}" alt="Lights" style="width:100%">
            <div class="kl-school-contenttitles">
              <h5>바이올린 걸음마 시작하기 (1)
                바이올린 걸음마 시작하기 (1)
                걸음마 시작하기 ...</h5>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="badge badge-pill badge-danger">Knoach</span>
              </div>
              <div class="col-md-4">
                <p>홍길동</p>
              </div>
              <div class="col-md-6">
                <p style="color:gray; text-align: right;">+999</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
<div class="kl-block" style="padding-bottom: 100px;">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text" style="text-align: center; padding-top: 20px; padding-bottom: 20px;"><a style="color: #ED3B0C;"><b>Teaching!</b></a> 지금 <b>바이올린</b> 선생님 찾고 있다면?</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text" style="text-align: center; padding-top: 20px; padding-bottom: 20px;"><a style="color: #ED3B0C;"><b>CA!</b></a> 지금 내 <b>바이올린</b> 실력을 나누고 싶다면?</p>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<section>
  <div class="kl-block" style="padding-bottom: 100px">
    <h5>다른 음악강의는 어때요?</h5>
    <div class="row">
      <div class="col-sm-3 center-block kl-banner">
          <p style="color:white;">당신이 보고프던 강의</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}